.header-image {
  max-height: 60vh;
  overflow: hidden;
  margin: 0;
  display: block;
  img {
    width: 100vw;
  }
}
.site-header-image {
  position:sticky;
  z-index: -1;
  top: 0;
}
 .site-header {
   background-color: $color__background-coffee;
   color: white;
   height: fit-content;
   padding: 1em;
   position: sticky;
   z-index: 4;
   top:0;
   margin:0;
   font-family: $font__sans;
   display: flex;
   align-content: end;

   @media screen and (min-width: $query__small) {
     padding: 1em 2em;
   }
 }

 .site-branding {
   min-height: 65px;
   display: flex;
   width: 50%;
 }

.custom-logo-link {
  margin: 0 1em;
  img {
    display: block;
    height: 4em;
    width: auto;
  }
}

 .site-title {
   font-family: $font__thick;
   font-size: 3em;
   line-height: 1em;
   font-weight: 300;
   margin-top:0;
   margin-bottom: 0;

   a {
     &:visited {
       color: white;
     }

     &:hover {
       text-decoration: underline;
     }
   }
 }

 .site-description {
   margin:0;
   height: 1em;
   font-style: italic;
 }

 @media screen and (min-width:$query__medium){
  .site-header{
    display: flex;
    //justify-content: space-between;
  }
   .site-branding {
     width: 50%;
   }
   .main.navigation{
     width: 50%;
   }

   .site-logo-link {
     height: 7px;
     width: 7px;
   }
 }
@media screen and(min-width: $query__small){
  .custom-logo-link{
    display: none;
}
  .main-navigation{
    width: 100%;
    margin-top: 1em;
  }

}

@import "navbar";
